<!-- <div id="Goralut" class="content my-0 py-0">
    <h1 class="text-center gPageTitle textShadow">ע"ב שמות הקודש</h1> -->

 
    <div id="Goralut" class="content my-0 py-0">
        <h1 class="text-center gPageTitle textShadow">ע"ב שמות הקודש</h1>
        <h3 class="text-center text-success mt-0 pt-0">"ה' מנת חלקי וכוסי אתה תומיך גורלי"</h3>
    
      <div class="text-center my-4"><mark> יש ללחוץ על הכפתור  </mark></div>
      <div class="w-75  mx-auto pb-4 pt-3">
        <div id="gBtns" class="row ">
          <div  class="goral-btn col-12 col-sm-4 goralBtn text-center " ng-click="goral2('names72',72)" onclick="ggg(this)" >  ע"ב שמות </div>
          <!--<div class="goral-btn col-12 col-sm-4 goralBtn text-center " ng-click="goral('mashaot42',42)"  onclick="ggg(this)">גורל מסעות</div>
           <div class="goral-btn col-12 col-sm-4 goralBtn text-center " ng-click="goral('achitopel117',117)"  onclick="ggg(this)">גורל אחיתופל</div>
            <div  class="goral-btn col-12 col-sm-4 grlBtn text-center " ng-click="goral('tz16',16)" onclick="ggg(this)" >גורל ט"ז</div>
           <div class="goral-btn col-12 col-sm-4 grlBtn text-center " ng-click="goral('mashaot42',42)"  onclick="ggg(this)">גורל מסעות</div>
            <div class="goral-btn col-12 col-sm-4 grlBtn text-center " ng-click="goral('achitopel117',117)"  onclick="ggg(this)">גורל אחיתופל</div> -->
     
          </div>
       <p class="text-right"> {{res_idname}} </p>
       <p class="text-right">   {{res_title}}</p>
       <p class="text-right">   {{result2}}</p>
       
       <!-- <textarea class="  w-100  d-block mx-auto mt-3 text-right dRtl" rows=10  ng-model="result2" > -->
       
       </textarea>
    </div>
    
    </div>